* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.home {
    background-image: url(./images/black-particles-background.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    gap: 20%;
    position: fixed;
    width: 100%;
}

.nav-bar.scrolled {
    background-color: white;
    padding: 5px;
}

.nav-bar.scrolled h1, a {
    color: black;
}

.nav-bar.scrolled a {
    color: black;
}

.nav-bar h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
}

.nav-bar li:hover {
    transform: scale(1.2);
    transition: 0.6s ease;
}

.nav-bar a:hover {
    color: rgb(0, 132, 255);
}


.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3%;
}

.hero {
    padding-top: 150px;
    line-height: 1.3;
}

.hero a{
    text-decoration: none;
    border: 1px solid white;
    background-color: white;
    color: rgb(69, 189, 236);
    padding: 10px 30px;
    border-radius: 30px;
    width: 150px;
    text-align: center;
} 

.hero-link {
    display: flex;
    gap: 20px;
    font-weight: bold;
}

.hero-link a:hover {
    color: white;
    background-color: rgb(0, 132, 255);
    transform: scale(1.1);
    transition: 0.6s ease;
}

.hero-section img {
    width: 400px;
    height: 450px;
    margin-top: 200px;
    border-radius: 30%;
    box-shadow: 0 0 30px white;
}

.hero-section h4 {
    font-size: 35px;
    color: white;
    margin-left: 10px;
}

.hero-section h2 {
    font-size: 80px;
    color: white;
}

.hero-section p {
    font-size: 60px;
    color: rgb(0, 132, 255);
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about img {
    margin-left: 50px;
}

.about h2 {
    font-size: 50px;
}

.about p {
    font-size: 20px;
    color: rgb(90, 89, 89);
}

.about .hr {
    width: 100px;
}

.skills {
  width: 600px;
  line-height: 2.5;
}

.skill p {
  display: flex;
  justify-content: space-between;
}

.skill-bar {
  background: rgb(151, 151, 151);
  border-radius: 5px;
  overflow: hidden;
}

.percent {
  height: 10px;
  width: 0;
  background: rgb(0, 132, 255);
  border-radius: 5px;
  transition: width 1.5s ease;
}     

.about a {
    text-decoration: none;
    border: 1px solid white;
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    width: 150px;
    text-align: center;
}

.service {
    display: grid;
    place-content: center;
    padding: 80px;
}

.service .service-head{
    text-align: center;
    padding: 30px;
}

.service-head h3 {
    font-size: 25px;
}

.service-head h2 {
    font-size: 50px;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10%;
}

.service-type {
    display: flex;
    justify-content: space-between;
}

.services .service-icon {
    border: 1px solid rgb(0, 132, 255);
    font-size: 60px;
    color: rgb(0, 132, 255);
    padding: 30px;
    align-content: center;
    text-align: center;
}

.services .service-items {
    border: 1px;
    width: 400px;
    font-size: 20px;
    padding: 30px;
}

.service-items:hover {
    background-color: rgb(0, 132, 255);
    transition: 0.6s ease;
}

.service-items:hover {
    color: white;
}

.title {
    text-align: center;
}

.underline {
  width: 120px;
  height: 3px;
  background: rgb(69, 189, 236);
  margin: 10px auto;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.filter-btn {
  background: transparent;
  border: 1px solid rgb(69, 189, 236);
  padding: 10px 15px;
  margin: 0 10px;
  color: rgb(69, 189, 236);
  cursor: pointer;
  border-radius: 5px;
}

.filter-btn:hover {
  background: rgb(69, 189, 236);
  color: white;
  transform: scale(1.2);
  transition: 0.6s ease;
}

.section-center {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 30px;
}

.photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 4px solid rgb(69, 189, 236);
  border-radius: 5px;
}

.photo:hover {
    transform: scale(1.02);
    transition: 0.6s ease;
}

.title {
  text-align: center;
  margin-bottom: 70px;
}

.underline {
  height: 3px;
  width: 70px;
  background: rgb(47, 155, 197);
  margin: 0 auto;
}

.review {
  background: white;
  padding: 30px 35px;
  border-radius: 10px;
  text-align: center;
}

.img-container {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

#person-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#author {
  margin-bottom: 5px;
}

#job {
  text-transform: uppercase;
  color: rgb(53, 173, 221);
  font-size: 15px;
  margin-bottom: 5px;
}

#info {
  margin-bottom: 5px;
}

.button-container {
  margin-bottom: 10px;
}

.prev-btn,
.next-btn {
  color: rgb(53, 173, 221);
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

.random-btn {
  padding: 10px;
  background: rgb(241, 241, 241);
  color: rgb(53, 173, 221);
  border: 1px solid rgb(53, 173, 221);
  border-radius: 5px;
  cursor: pointer;
}

.contact {
    display: flex;
    gap: 50px;
    align-items: center;
    background-color: rgb(53, 173, 221);
}

.contact img {
    margin-left: 150px;
    width: 700px;
    height: 600px;
}

form {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.blog {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.blog img {
    width: 600px;
    height: 600px;
}